host: localhost
port: 6667
nick: Pyth
oper_pwd: harDtoFind
logdir: teepi
logsuffix: .log
db_uri: mysql://pythagore:toto1234@localhost/pythagore
table_names:
    channels: channels
    modules: modules
    enabled_modules: enabled_modules
debug_channel = #pythagore-dev
